@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --blue: #00b0ff;
}

html {
  max-height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;

  .ui-button {
    background: var(--blue);
    border-color: var(--blue);

    &:enabled:hover {
      background: var(--blue);
      border-color: var(--blue);
    }
  }

  .ui-dialog {
    .ui-dialog-titlebar {
      background: var(--blue);
      border-color: var(--blue);
    }
  }

  .ui-inputtext {
    &:enabled:focus:not(.ui-state-error) {
      border-color: var(--blue);
    }
  }

  .ui-autocomplete.ui-autocomplete-multiple {
    width: 100%;
    .ui-autocomplete-multiple-container {
      width: 100%;
      &:not(.ui-state-disabled) {
        &.ui-state-focus {
          border-color: var(--blue);
        }
      }
    }
  }

  .ui-selectbutton {
    .ui-button {
      background: var(--light);
      &.ui-state-active,
      &.ui-state-focus,
      &.ui-state-active:not(.ui-state-disabled):hover {
        background: var(--blue);
        border-color: var(--blue);
      }
    }
  }

}

ul,
ol {
  padding: 0;
  list-style: none;
}

p {
  font-size: 14px;
  color: var(--dark);
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 28px;
  color: var(--blue);
}

.ui-toast-bottom-center {
  margin-left: 0;
  transform: translateX(-50%);
}

.ui-toast {
  width: auto;
}
