<ul>
  <li fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of members">
    <div class="avatar">
      <img [src]="item?.avatar | resolveUploads | setDummy" alt="">
    </div>
    <div fxLayout="column" fxFlex fxFlexOffset="10px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <b>{{item?.userName}}</b>

        <p-button *ngIf="isOwner && item?._id !== auth.currentUser?._id" icon="pi pi-trash"
                  class="ui-button-danger" (onClick)="deleteMember(item?._id)"></p-button>
      </div>
    </div>
  </li>
</ul>

<div class="row" *ngIf="isOwner">
  <add-user [multiple]="false" (modelChanged)="userAdded($event)" #addUserComponent></add-user>
  <p-button fxFlexOffset="15px"
            icon="pi pi-check"
            label="Add"
            [disabled]="!userToAdd"
            (onClick)="addMember()"></p-button>
</div>
